//@use '@ghentcdh/vue-component-annotated-text/style.css' as *;
//@use '../../../../libs/ui/src/styles' as *;
//
//@source "../../../../libs";
//@source "../../../../docs";


.custom-page--full-width {

  .vp-page [vp-content] {
    max-width: 100%;
  }
}
