name: Build

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

env:
  DEPENDENCIES_CACHE: cache-node-modules

jobs:
  install-deps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/use-cache
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
  build:
    runs-on: ubuntu-latest
    needs: install-deps
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/use-cache
      - uses: nrwl/nx-set-shas@v4
      - run: npx nx run-many -t build --parallel --max-parallel=6
  test:
    runs-on: ubuntu-latest
    needs: install-deps
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/use-cache
      - run: npx nx run-many -t test --parallel --max-parallel=6
        continue-on-error: true
  lint:
    runs-on: ubuntu-latest
    needs: install-deps
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/use-cache
      - run: npx nx run-many -t lint --parallel --max-parallel=6
